<div class="form-group">
    <label for="exampleFormControlTextarea1">Add a task for your friendly neighbors to help out with!</label>
  </div>

  <div class="col-md-6 text-center" class="task">
			<div class="row">
			  {{#each task_data}}
			  	{{#unless this.completed}}
				<div class="col-md-9 text-center">
					<pre>{{this.userId}}. {{this.taskType}}
					</pre>
				</div>
				<div class="col-md-3 text-center">
					<form class="devour-form button-size">
						<input input type="hidden" class="taskType" type="text" value={{this.userId}}><br>
						<button type="submit" class="btn btn-primary">Submit task</button>
					</form>
				</div>
				{{/unless}}
			  {{/each}}
			</div>
		</div>
		<div class="col-md-6 text-center" class="task">
			  {{#each task_data}}
			  	{{#if this.completed}}
			  		<input class="form-control" type="text" placeholder="{{this.userId}} . {{this.taskType}}" readonly>
				{{/if}}
			  {{/each}}
		</div>
	</div>
<div class="container">
	<div class="row">
		<div class="col-md-12 text-center enter_section">
			<form action="/tasks" method="POST">
				<input type="text" class="form-control" name="taskType" value="" id="enter_text">
				<button type="submit" class="btn btn-primary" id="text-enter-button">Submit</button>
			</form>
		</div>
	</div>
</div>
